div {

    padding: 100px;
    border: 1cm, solid, green;
    border-style: outset;
}

button {
    height: 80px;
    width: 170px;
    font-size: 20px;
}

.button {
    padding: 20;
}

.text {
    font-size: 20px;
}